@use '../../utils/mixin.scss' as mixin;

.application {
  background: rgba(0, 47, 61, 0.5);

  &__wrapper {
    max-width: 1280px;
    min-height: 412px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
    justify-content: center;
    background: url('../../imgs/application.png');
  }

  &__title {
    max-width: 839px;
    text-align: center;
    @include mixin.fontOpenSans($fz: 36px, $fw: bold);
  }

  &__button {
    width: 289px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #9bcc37;
    @include mixin.fontOpenSans($fz: 18px, $fw: bold);

    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: #77ba04;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include mixin.fontOpenSans($fz: 18px, $fw: bold);

    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: #77ba04;
      border-radius: 5px;
    }
  }
}

@media (max-width: 425px) {
  .application {
    &__wrapper {
      min-height: 248px;
    }

    &__title {
      font-size: 28px;
      font-weight: lighter;
    }

    &__button {
      width: 295px;
    }
  }
}
